* {padding: 0; margin: 0;}

body{
	background-color: #f1f2f7;
}
a:hover {
  text-decoration: none;
}

/*login*/
#login{
	width: 350px;
	background-color: #337ab7;
	border-radius: 5px;
	margin-left: 35%;
	margin-top: 100px;
}
#login-heading {
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #fff;
	text-align: center;
}
#login-content {
	width: 100%;
	background-color: #fff;
	border-radius: 0px 0px 5px 5px;
	padding: 0px 15px 0px 15px;
	padding-top: 40px;
	padding-bottom: 30px;
}

/*main*/
.main-top {
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	float: top;
	line-height: 60px;
	color: #333;
	/*padding-left: 40px;*/
	font-size: 18px;
	position: fixed;
  z-index: 999;
}
.main-content {
	width: 100%;
	height: 1100px;
	float: bottom; 
}
.main-content-sidebar {
	width: 17%;
	height: 1000px;
	float: left;
	background-color: #2a3542; 
	left: 0;
}
.main-content-body {
	width: 83%;
	float: right;
	padding: 20px 10px 0px 10px;
}
.main-content-body ol {
  background-color: #d9edf7;
}
.panel-default {
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 4px;
  z-index:333;
}
/*sidebar*/
ul {
	margin: 20px 10px 0px 10px;
	list-style-type: none; /*bỏ dấu chấm*/
}
ul li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #e1ffff;
}
ul li:hover i {
  color: red;
}
/*ul li a {
	color: #aeb2b7;
	text-decoration: none;
}
ul li:hover {
	background-color: #35404d;
	color: #fff;
}
ul li:hover i {
	color: red;
}
ul li:hover a {
	color: #fff;
	text-decoration: none;
}*/

/*nav side menu*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 13px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 17%;
  height: 1000px;
  color: #e1ffff;
  margin-top: 60px;
  padding-top: 20px;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 50px;
  /*padding-left: 20px;*/
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li i {
  padding-left: 10px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #fff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}



/*show tabs*/
ul li a .a-tabs:hover {
  background-color: #fff;
}

/*dashboard*/
.dashboard-left {
  width: 150px;
  height: 150px;
  float: left;
  background-color: #6ccac9;
  font-size: 50px;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
  text-align: center;
  line-height: 150px;
}
.dashboard-right {
  height: 150px;
  float: left;
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  line-height: 150px;
  padding: 0px 15px 0px 15px;
}

/* -- leavedays -- */
.btn-leaveday {
  margin-top: 30px 15px 0 0;
}